# vim temp files
*.swp

# Mac disk files
.DS_Store
*/.DS_Store

# python byte code directory
__pycache__/*
Interpreter/__pycache__/*
MCTS_Statemodel/__pycache__/*

# VSCode config files
.vscode

# PyCharm
.idea/*

# Virtueal Environment
venv/*
