# vim temp files
*.swp

# Mac disk files
.DS_Store
*/.DS_Store

# python byte code directory
**/__pycache__/
**.pyc

# VSCode config files
.vscode

# PyCharm
.idea/*

# Virtueal Environment
venv/*
.env

# Data Folder
_Data