numpy
python-docs-theme
pygments-pytest>=1.1.0
sphinx>=1.8.2,<2.1
sphinxcontrib-trio
sphinx-removed-in>=0.2.0
mockito==1.2.1
more-itertools==8.2.0
packaging==20.3
pathlib2==2.3.5
pluggy==0.13.1
py==1.8.1
pyasn1==0.1.9
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0
pylint==2.5.0
pyparsing==2.4.7
pytest==5.4.1
pyxdg==0.25
mcts